$mainfont: zapfino, cursive;
$textfont: comfortaa, Helvetica, san-serfif;
$grey: #d8d8d8;
$lightteal: #C8F6EF;
$teal: #8CBFB8;
$darkteal: #3D6B66;
$backgroundteal: rgba(#AEDDD7, .27);

@mixin mQ($arg){
  @media screen and (min-width: $arg){
    @content;
  }
}

* {
  border-style: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $textfont;
}
//beginning of header
header {
  height: 40vw;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: 10px 13% 37% 25% 25%;
  border-bottom: 5px solid $teal;
  overflow: hidden;
  .image-header {
    grid-column: 1 / 14;
    grid-row: 1 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 100%;
    height: 120%;
  }
  .logo {
    font-size: 2vw;
    font-family: $mainfont;
    background: rgba($grey, .7);
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding-left: 10px;
    margin-left: 10px;
  }
  .company-name {
    color: white;
    font-family: $mainfont;
    border: 2px solid $lightteal;
    background: rgba(black, .7);
    grid-column: 5 / 10;
    grid-row: 4 / 5;
    h2 {
      font-size: 4.5vw;
      text-align: center;
    }
  }
  nav {
    grid-column: 6 / 14;
    grid-row: 2 / 3;
    background: rgba(black, .7);
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 3vw;
      list-style: none;
      align-items: center;
    }
    li {
    }
    a {
      color: white;
      text-decoration: none;
    }
    .desktop-nav {
      display: none;
    }
  }
} //end of header

.shedule-tour {
  text-align: center;
  h3 {
    font-size: 3.5vw;
    width: 80%;
    margin: 5vw 10%;
  }
  button {
    text-transform: uppercase;
    font-size: 3vw;
    padding: 1vw;
    background-color: $teal;
    border: 1px solid rgba(black, .65);
    border-radius: 2vw;
    box-shadow: 3px 3px 10px $darkteal,
      inset 3px 3px 10px $lightteal;
    width: 40vw;
  }
  p {
    font-size: 2.7vw;
    padding: 20px 0;
  }
} //end of schedule your section

//style all splash page banners
.banner {
  height: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 5px solid $teal;
  border-bottom: 5px solid $teal;
  overflow: hidden;
  img {
    width: 105%;
  }
} //end of banners

//style both h1s
h1 {
  font-family: $mainfont;
  text-decoration: underline;
  text-decoration-style: double;
  text-align: center;
  font-size: 6vw;
  padding: 1vw 0;
}

//beginning of spaces section
.space-types {
  background-color: $backgroundteal;
  width: 80%;
  margin: 0 10%;
  .space-card {
    @include mQ(600px) {

    }
  }
} //end of spaces section

.amenities-card {
  background-color: $backgroundteal;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
//for full size

// grid-template-rows: 30px 0.5fr 3fr 1.5fr 2fr;
