$mainfont: zapfino, cursive;
$textfont: comfortaa, Helvetica, san-serfif;
$grey: #d8d8d8;
$lightteal: #C8F6EF;
$midteal: #8CBFB8;
$darkteal: #3D6B66;

* {
  border-style: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 40vw;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: 10px 0.5fr 3fr 1.5fr 2fr;
  .image-header {
    grid-column: 1 / 14;
    grid-row: 1 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 100%;
    height: 120%;
  }
  .logo {
    font-size: 2vw;
    font-family: $mainfont;
    background: rgba($grey, .7);
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding-left: 10px;
    margin-left: 10px;
  }
  .company-name {
    color: white;
    font-family: $mainfont;
    border: 2px solid $lightteal;
    background: rgba(black, .7);
    grid-column: 5 / 10;
    grid-row: 4 / 5;
  }
  nav {
    grid-column: 6 / 14;
    grid-row: 2 / 3;
    background: rgba(black, .7);
    font-family: $textfont;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 3vw;
      list-style: none;
    }
    a {
      color: white;
      text-decoration: none;
    }
    .desktop-nav {
      display: none;
    }
  }
}


//for full size

// grid-template-rows: 30px 0.5fr 3fr 1.5fr 2fr;
